.Ishop2
{
    border: double gray 3px;
    padding: 3px 7px;
    background-color: #F0F0F0;
}
#container
{
    width: 500px;
}
.Ishop2 .startItemsList .Item
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
